/* ========================== FOOTER ========================== */

/* Start Contact me */ 
.titlecontact{
    color: black;
    font-weight: lighter;
    font-size: 26px;
}
.fab{
    color: #00b8e6;
    font-size: 50px;
    text-shadow: 1px 1px 1px #ffffff;
}
.far{
    color: #00b8e6;
    font-size: 50px;
    text-shadow: 1px 1px 1px #ffffff;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.center a {
    margin: 0px 10px;
}
/* End contact me */
footer {
    
    width: 100%;
    background-color:white;
    color: black;
    padding: 1.5em 0;
    border-top-right-radius: 50px 20px;
    text-align: center; 
 }
footer .mail {
     color: #00b8e6;
}
footer .apr {
    color:#00b8e6;
    font-size: large;
    font-weight: bold;
    padding-bottom: 235px;
}
/* ========================== FOOTER END========================== */