.container {
    padding: 10rem 0;
}

.name{
    color: #00b8e6;
}

.resume-heading{
    text-align: center;
    font-size:2rem;
    margin-bottom:0.2rem;
    color: black;
    margin:auto;
}

.botones{
    margin:auto;
    text-align:justify;
    padding-left: 40%;
    padding-right: 40%;
    margin-top:1rem;
    font-size: 16px; 
    line-height: 2;
}
/* Download CV button */
.btn{
    background-color: #00b8e6;
    border-color: rgb(21, 101, 167);
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    padding: 10px 25px;
    padding-left: 2px;
    position: center;
    margin:auto;
    border-radius: 15px 50px;
}
.fas{
    padding-right:10px;
    padding-left: 7px;
}